@import url(__iframe/video__iframe.css);
@import url(__iframes/video__iframes.css);
@import url(section-title/section-title.css);
@import url(section-subtitle/section-subtitle.css);

.video {
  box-sizing:border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #f2f2f2 0px 160px, #fff 160px);
}
