.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  justify-content: end;
  width: 388px;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
  margin: 0;
  padding: 0;
}
