@import url(../blocks/vendor/normalize.css);
@import url(../blocks/header/header.css);
@import url(../blocks/description/description.css);
@import url(../blocks/feynman/feynman.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/footer/footer.css);

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* === logo === */

.logo {
  z-index: 3;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;
}

.logo_place_footer {
  height: 32px;
  width: 228px;
}

/* === /logo === */
