body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  padding: 0;

}

/* === logo === */
.logo {
  z-index: 3;
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;
}

.logo__place_footer {}

/* === /logo === */



/* === header === */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  border: 2px solid red;
}

.header__title {
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 3;
  margin-left: 64px;
  display: flex;
  align-items: center;
  width: 730px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  justify-content: end;
  width: 338px;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {}

.header__main-illustration {
  width: 765px;
  height: 608px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
}

.header__square-pic {
  width: 568px;
	height: 568px;
	background: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;
}

/* === /header === */

.content {

}


/* ===  description === */

.description {
  display: flex;
  box-sizing: border-box;
  border: 2px solid black;
}

.two-columns {
  width: 80%;
  min-width: 784px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  border: 2px solid blue;
}

.two-columns__brief {
  width: 175px;
  border: 2px solid green;

}

.two-columns__main-text {
  border: 2px solid green;
}

.two-columns__paragraph {

}

.two-columns__brief {}

.two-columns__span-accent {
  font-weight: bold;
}

/* === /description === */



/* ===  digits === */

.digits {}

.section-title {}

.section-subtitle {}

.table {}

.table__cell {}

.table__heading {}

.table__text {}

/* === /digits === */



/* ===  feynman === */
.feynman {
  background-image: url();
}

.feynman__title {}

.feynman__subtitle {}

.feynman__link {}
/* === /feynman === */



/* ===  kaufman === */

.kaufman {}

.kaufman__triangle {}

.section-title_theme_dark {}

.section-subtitle_theme_derk {}

* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {}

.table__text_theme_dark {}
/* === /kaufman === */



/* === footer === */

.footer {
  margin: 60px 0 40px 0;
  border: 2px solid red;
  box-sizing: content-box;
}

.footer__column_content_copyright {}

.footer__column_content_info {}

.footer__column_content_social {}

.footer__author {}

.footer__column-heading {}

.footer__column-links {}

.footer__social-icon {}

.footer__column-link {}

.footer__columns {}
/* === /footer === */
